# Archivos compilados por Maven y Java
/target/
/build/
/dist/
*.class

# Archivos de configuración local de NetBeans
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml

# Archivos de sistema y logs
*.log
.DS_Store
Thumbs.db
